body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 30px;
  background-color: #fff;
  color: #000;
}

#grid-general {
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 50%50%;
  grid-gap: 10%;
  padding: 2vh;
}

#wh{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7c/Keno_mini_wargame.jpg);
}
#fb{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/81/Wh40k_painting_miniature.jpg);
}


.column{
  float: right;
  width: 80%;
  background-size: cover;
  background-position-x: center;
}

